@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  @apply bg-slate-900 text-slate-50 min-h-screen;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}
